
@{
    ViewBag.Title = "OrderComplete";
}

<div class="ogami-breadcrumb">
    <div class="container">
        <ul>
            <li> <a class="breadcrumb-link" href="index.html"> <i class="fas fa-home"></i>Home</a></li>
            <li> <a class="breadcrumb-link" href="index.html">Shop</a></li>
            <li> <a class="breadcrumb-link active" href="index.html">Order Complete</a></li>
        </ul>
    </div>
</div>
<!-- End breadcrumb-->
<div class="order-step">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="order-step_block">
                    <div class="row no-gutters">
                        <div class="col-12 col-md-4">
                            <div class="step-block step-block--1">
                                <div class="step">
                                    <h2>Shopping Cart</h2><span>01</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="step-block">
                                <div class="step">
                                    <h2>Check Out</h2><span>02</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="step-block active">
                                <div class="step">
                                    <h2>Order Completed</h2><span>03</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End order step-->
<div class="order-complete">
    <div class="container">
        @*<div class="row">*@
            <div class="col-12 justify-content-center align-items-center text-center">
                <h1>Congratulation! You’ve <span>Placed </span>Order</h1>
            </div>
            @*</div>*@
        </div>
    </div>

