
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        
        <li class="breadcrumb-item active">Categories</li>
    </ol>

    <div id="pagination">
        @{
            Html.RenderAction("Categories");
        }
    </div>





    </div>

