@model List<BoxOfVegs.Entities.Category>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var category in Model)
{
    <h1>@category.CategoryName</h1>
    @*<br />
    <h2>@(Model.IndexOf(category) + 1)</h2>
    <br />
    <h2>@category</h2>
    <br />
    <a href="#">Edit</a>*@
}