
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">

            <li class="breadcrumb-item active">Products</li>
        </ol>

        <div id="pagination">
            @{
                Html.RenderAction("Products");
            }
        </div>
    </div>