
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Categories</h2>

<div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="../Admin">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Categories</li>
    </ol>

    <div id="pagination">
        @{
            Html.RenderAction("Categories");
        }
    </div>





    </div>

